@model PersonaCreateInputModel;

<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="row">
        <div class="col-md-8 mb-3">
            <input type="text" asp-for="nome" class="form-control form-control-lg"
                placeholder="Digita il nome">
        </div>
         <div class="col-md-8 mb-3">
            <input type="text" asp-for="cognome" class="form-control form-control-lg"
                placeholder="Digita il cognome">
        </div>
         <div class="col-md-8 mb-3">
            <input type="text" asp-for="eta" class="form-control form-control-lg"
                placeholder="Digita l' età">
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-rocket"></i> Crea
                persona!</button>
        </div>
    </div>
</form>