@model AutoViewModel

<section>

    <div>
        <ul>
            <li>marca: @Model.marca</li>
            <li>modello: @Model.modello</li>
            <li>targa: @Model.targa</li>
        </ul>
    </div>
    <div><a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.id"><i class="fa fa-plus"></i>
            Modifica dati</a></div>