@model AutoViewModel

<section>

    <div>
        <ul>
            <li>marca: @Model.marca</li>
            <li>modello: @Model.modello</li>
            <li>targa: @Model.targa</li>
        </ul>
    </div>