@model AutoEditInputModel

<h1>@ViewData["Title"]</h1>
<form method="post">
    <div class="row">
        <div class="col-md-3 mb-3">
            <input type="text" value="@Model.marca" asp-for="marca" class="form-control form-control-lg">
        </div>
         <div class="col-md-3 mb-3">
            <input type="text" value="@Model.modello" asp-for="modello" class="form-control form-control-lg">
        </div>
         <div class="col-md-3 mb-3">
            <input type="text" value="@Model.targa" asp-for="targa" class="form-control form-control-lg">
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fas fa-rocket"></i> Modifica Auto!</button>
        </div>
    </div>
</form>